.zing__mp3{
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}


.zing__mp3--left{
    color: var(--text-color);
    background-color: var(--background-color-left);
    flex: 1;
    position: relative;
    
}

.zing__mp3--right{
    color: var(--text-color);
    background-color: var(--background-color-right);
    flex: 4;
}



.zing__mp3--logo_img {
    padding: 12px 32px;
    width: 70%;
}

.zing__mp3--navbar-two,
.zing__mp3--navbar--one{
    line-height: 5rem;
}


.zing__mp3_navbar{
    position: relative;
    

}


.zing__mp3--navbar--first{
    /* position: fixed; */
    top: 0;
    left: 0;
    
}

.zing__mp3--navbar--first:hover{
    color: var(--while-color);
    
}

.zing__mp3--navbar-two-menu,
.zing_mp3--menu{
    display: flex;
    /* padding-left: 0; */
    padding: 12px 24px;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    font-size: var(--font-size);
    list-style: none;
    
}

.zing__mp3--navbar-two ul
.zing__mp3--navbar--one ul{
    padding-left: 24px;
    
}

.zing__mp3_navbar ul svg{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.2rem;
}

.zing__mp3--navbar-two-item,
.zing_mp3--menu--item{
    display: inline-flex;
    width: 100%;
    align-items: center;
   
}

.zing__mp3_navbar li:hover{
    color: var(--while-color);
    cursor: pointer;
    
}




.item-seperate::after{
    position: absolute;
    content: "";
    display: block;
    border-top: 4px solid #fff;

}
