:root {
  --text-color: #ccc;
  --while-color: #fff;
  --black-color: #000;
  --layout-bg: #170f23;
  --layout-nav-bg: #231b2e;
  --text-item-hover: #fff;
  --background-color-left: #231b2e;
  --background-color-right: #170f23;
  --font-size: 1.4rem;
  --line-height: 1.4;
  --font-weight: 700;
  --player-text: #fff;
  --font-weight-time: 600;
  --font-weight-primary: 500;
  --alpha-bg: hsla(0, 0%, 100%, 0.1);
  --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
  --purple-primary: #9b4de0;
  --link-text-hover: #c273ed;
  --bg-header-top-right: #2f2739;
  --text-secondary: hsla(0, 0%, 100%, 0.5);
  --background-play: #130c1c;
  --font-size-icon: 2.2rem;
  --size-menu: 240px;
  --background-menu-left-active: #393243;
  --color-text-menu: #cfcfd0;
  --border-primary: hsla(0, 0%, 100%, 0.1);
  --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
  --size-play-music: 10vh;
  --height-header: 70px;
  --margin-content: 60px;
  --size-img: 145px;
  --size-img-radio: 145px;
  --size-img-abs: 48px;
  --size-block-img: 200px;
  --primary-opacity: 0.6;
  --text-primary: #fff;
  --green: #1dc186;
  --red: #e35050;
  --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
  --size-img-box-table-music: 42px;
  --size-number-table: 30px;
  --url-img-premium: url(../img/premium.svg);
  --bg-img: 48px;
  --size-img-card-box: 70px;
  --primary-bg: #34224f;
  --size-menu-lever2: 70px;
  --color-toast-success: #25644d;
}
