#container{

}



.slider .slider-item{
    display: inline-flex;
    float: left;
    overflow: hidden;
}



.slider-item img{
    width: 100%;
    border-radius: 10px;
}

.slider-item figure{
    margin: 0 1rem;
}


.clear{
    clear: both;
}
